<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(\.env|autoload\.php|seed\.php) - [F,L,NC]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>